@model IEnumerable<SurveyWeb.Models.Univer.GroupPasswordInfoModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>PasswordLists</title>
    <style type="text/css">
        .vedomost td,th {
            border: solid 1px;
        }
        
        .vedomost {
            border-collapse: collapse;
        }

        .podpis {
            width: 20em;
            height: 1.5em;
        }

        .password-box {
            border: solid 1px;
            margin: 3px;
            float: left;
            padding: 2px;
            width: 30%;
        }
    </style>
</head>
<body>
    
    @foreach (var item in Model) {
        <br style="page-break-before: always; clear:both"/>
        <h1>Ведомость: @item.StudentGroup.DispName</h1>
        <table class="vedomost">
            <tr>
                <th>ФИО</th><th>&nbsp;</th><th>Подпись</th>
            </tr>
            @foreach (var student in item.Students)
            {
                <tr>
                    <td>@student</td><td>Пароль получил(а)</td><td class="podpis">&nbsp;</td>
                </tr>
            }
        </table>
        
        <h1 style="page-break-before: always">Пароли: @item.StudentGroup.DispName</h1>
        
          
            foreach (var password in item.Passwords)
            {
                <div class="password-box">Сайт: opros.spbu.ru/Students2012<br/>
                        Логин: @password.Username <br/>
                        Пароль: @password.Password
                    </div>
            }
        
        
    }
    
</body>
</html>
